<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Pago
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="Secondary">
  <h2></h2>
  <ion-img src="../../assets/img/paypal.png"></ion-img>

  <ion-button class="boton" expand="full" color="primary" fill="solid" (click)="pay()">
    <ion-icon name="logo-euro"></ion-icon>
    Pagar
  </ion-button>
  <ion-button class="boton" expand="full" color="primary" fill="solid" (click)="cerrarModal()">
    <ion-icon name="arrow-round-back"></ion-icon>
    Cancelar
  </ion-button>
  <p>Paga por un precio económico y disfruta del mejor servicio acompañado de tus colegas</p>
</ion-content>

