<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon name="logo-tux"></ion-icon>
    <ion-title style="font-size: 12px">
      PachangaFriendly
    </ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="category" (ionChange)="slides.slideTo(category)" style="background-color:var(--ion-color-primary-tint)"
               color="light">
    <ion-segment-button  layout="icon-start" value="0" style="--padding-end:0px;--padding-start:0px">
      <ion-icon color="dark" name="add-circle-outline"></ion-icon>
      <ion-label>{{ "Crear Evento" | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button layout="icon-start" value="1" style="--padding-end:0px;--padding-start:0px">
      <ion-icon color="dark" name="eye"></ion-icon>
      <ion-label>{{ "Eventos" | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]="
    {'width.%': (100/this.tabs.length)}" style="margin-top:2px"></div>
</ion-header>

<ion-content padding>
  <ion-slides #slides (ionSlideTransitionStart)="updateIndicatorPosition();updateCat(slides.getActiveIndex())"
              (ionSlideWillChange)="updateIndicatorPosition()" (ionSlideDidChange)="updateIndicatorPosition()" #SwipedTabsSlider
              (ionSlideDrag)="animateIndicator($event)">
    <ion-slide>
      <ion-content>
        <form [formGroup]="event" (ngSubmit)="logForm()" style="margin-top: 10px;">
          <ion-item>
            <ion-input required type="text" formControlName="nombre" placeholder="{{ 'Nombre del evento' | translate }}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input required type="text" formControlName="dni" placeholder="{{ 'Inserta dni con letra mayuscula' | translate }}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>{{ "Fecha" | translate }}</ion-label>
            <ion-datetime display-format="DD/MM/YYYY" min="2019" max="2019" formControlName="fecha"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>{{ "Deporte" | translate }}</ion-label>
            <ion-select formControlName="deporte">
              <ion-select-option value="Fútbol">Fútbol</ion-select-option>
              <ion-select-option value="Baloncesto">Baloncesto</ion-select-option>
              <ion-select-option value="Padel">Padel</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>{{ "Polideportivo" | translate }}</ion-label>
            <ion-select  formControlName="polideportivo">
              <ion-select-option value="Fuensanta">Fuensanta</ion-select-option>
              <ion-select-option value="Guadalquivir">Guadalquivir</ion-select-option>
              <ion-select-option value="Vista Alegre">Vista Alegre</ion-select-option>
              <ion-select-option value="Fatima">Fátima</ion-select-option>
              <ion-select-option value="El Naranjo">El Naranjo</ion-select-option>
              <ion-select-option value="Ciudad Jardin">Ciudad Jardin</ion-select-option>
              <ion-select-option value="Las Margaritas">Las Margaritas</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button color="primary" size="default" type="submit" [disabled]="!event.valid">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            {{ "Reservar" | translate }}
          </ion-button>
        </form>
      </ion-content>
    </ion-slide>
    <ion-slide>
      <ion-content>
        <ion-searchbar placeholder="Buscar" (ionInput)="getFilteredItem($event)">
        </ion-searchbar>
        <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Arrastra para refrescar"
            refreshingSpinner="crescent"
            refreshingText="Cargando..">
          </ion-refresher-content>
        </ion-refresher>
        <ion-list #dynamicList id="dynamicList">
          <ion-item-sliding *ngFor="let item of listadoPanel;let i = index">
            <ion-label>
              <ion-img id="avatar" src="../../assets/icon/avatar.png"></ion-img>
              <h2>{{item.nombre}}</h2>
              <h3>{{item.fecha}}</h3>
              <h3>{{item.deporte}}</h3>
              <h3>{{item.polideportivo}}</h3>
              <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                <ion-fab-button (click)="shareInsta()">
                  <ion-icon name="logo-instagram"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </ion-label>
          </ion-item-sliding>
        </ion-list>
      </ion-content>
    </ion-slide>
  </ion-slides>
</ion-content>
